@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
	font-family: "Roboto", sans-serif;
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(255, 68, 0, 0.801);
	margin: 10px;
	padding: 20px;
	border-radius: 15px;
}
h1 a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.897);
}
ul li {
	list-style: none;
	margin: 10px;
	font-size: 20px;

}

ul li a {
	text-decoration: none;
	color: rgba(0, 0, 0, 0.849);
	margin: 10px;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 10px;
}

.grid-item {
	width: 100%;
	
}

.grid-item img {
	width: 100%;
	height: auto;
}

button {
	background-color: rgba(255, 68, 0, 0.801);
	margin: 1rem;
	padding: 1rem 1rem;
	border-radius: 10px;
	cursor: pointer;
	color: rgb(240, 248, 255);
	width: 70%;
}

.mine {
	display: flex;
	justify-content: flex-end;
	margin: 5px;
}
.mine *{
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-size: 30px;
}